packages/replay-internal                                   @getsentry/replay-sdk-web
packages/replay-worker                            @getsentry/replay-sdk-web
packages/replay-canvas                            @getsentry/replay-sdk-web
packages/feedback                                 @getsentry/feedback-sdk
dev-packages/browser-integration-tests/suites/replay  @getsentry/replay-sdk-web
