{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets":  {
        "browsers": [
          "last 1 version",
          "android >= 4.4",
          "ie >= 10"
        ]
      }
    }]
  ]
}
