# THIS IS A TEMPORARY FILE
# THIS WILL BE REMOVED AFTER WE FINISH ESLINT UPGRADE

packages/ember/**/*
packages/integrations/**/*
packages/node/**/*
packages/react/**/*
packages/tracing/**/*
packages/typescript/**/*
