docs/
test/
working/
coverage/

.git/
.github/
.gitignore
.gitmodules

.eslintignore
.eslintrc

.npmignore
.travis.yml
Makefile
AUTHORS
CONTRIBUTING.md

.idea/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
