---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro CF Workers E2E Test App</h1>
    <ul role="list" style="display: flex; flex-direction: column;">
      <a href="/ssr-error">SSR Error</a>
      <a href="/endpoint-error">Endpoint Error</a>
      <a href="/action-test">Action Test</a>
      <a href="/api/test-error">API Error</a>
    </ul>
  </main>
</Layout>
