<h3>Intentionally Slow Route</h3>
<button type="button" class="primary" {{on "click" this.back}} data-test-button="back">
  Go Back
</button>

<div class="list-grid">
  <SlowLoadingList @items={{1000}} />
  <div>
    {{outlet}}
  </div>
</div>
