@sentry:registry=http://127.0.0.1:4873
@sentry-internal:registry=http://127.0.0.1:4873

# todo: check if this is still needed in upcoming versions
# Hoist all dependencies to the root level due to issues with import-in-the-middle and require-in-the-middle
# Just adding these as dependencies removed the warnings, but didn't fix the issue
shamefully-hoist=true
strict-peer-dependencies=false
