<div class="section">
  <h4>{{this._title}}</h4>
  <div class="table">
    {{#each this.rowItems as |rowItem|}}
    <div class="table-row">
      <span>{{rowItem.index}}</span>
    </div>
    {{/each}}
  </div>
</div>
