---
import Avatar from '../../components/Avatar.astro';
import Layout from '../../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Server Island Page">
  <p>This page is static, except for the avatar which is loaded dynamically from the server</p>

  <Avatar server:defer>
    <p slot="fallback">Fallback</p>
  </Avatar>
</Layout>
