name: 'Gitflow: Auto prepare release'
on:
  pull_request:
    types:
      - closed
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

# This workflow triggers a release when merging a branch with the pattern `prepare-release/VERSION` into master.
jobs:
  release:
    runs-on: ubuntu-24.04
    name: 'Prepare a new version'
    steps:
      - name: Get auth token
        id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ vars.SENTRY_RELEASE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.SENTRY_RELEASE_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0

      # https://github.com/actions-ecosystem/action-regex-match
      - uses: actions-ecosystem/action-regex-match@v2
        id: version-regex
        with:
          # Parse version from head branch
          text: ${{ github.head_ref }}
          # match: prepare-release/xx.xx.xx
          regex: '^prepare-release\/(\d+\.\d+\.\d+)(?:-(alpha|beta|rc)\.\d+)?$'

      - name: Extract version
        id: get_version
        run: |
          version=${{ steps.version-regex.outputs.match }}
          version=${version/'prepare-release/'/''}
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Set up Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: 'package.json'

      - name: Prepare release
        uses: getsentry/craft@39ee616a6a58dc64797feecb145d66770492b66c # v2
        if: >-
          github.event.pull_request.merged == true && 
          steps.version-regex.outputs.match != '' &&
          steps.get_version.outputs.version != ''
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          version: ${{ steps.get_version.outputs.version }}
          force: false
          merge_target: master
          craft_config_from_merge_target: 'true'
