name: "CI: Enforce License Compliance"

on:
  push:
    branches:
      - develop
      - master
      - v9
      - v8
      - release/**
  pull_request:
    branches:
      - develop
      - master
      - v9
      - v8

jobs:
  enforce-license-compliance:
    runs-on: ubuntu-24.04
    steps:
      - name: 'Enforce License Compliance'
        uses: getsentry/action-enforce-license-compliance@main
        with:
          fossa_api_key: ${{ secrets.FOSSA_API_KEY }}
