name: Enforce License Compliance

on:
  push:
    branches: [master, develop, release/*, v7]
  pull_request:
    branches: [master, develop, v7]

jobs:
  enforce-license-compliance:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Enforce License Compliance'
        uses: getsentry/action-enforce-license-compliance@main
        with:
          fossa_api_key: ${{ secrets.FOSSA_API_KEY }}
