name: 'CI: Mention external contributors'
on:
  pull_request_target:
    types:
      - closed
    branches:
      - develop

jobs:
  external_contributor:
    name: External Contributors
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-24.04
    if: |
      github.event.pull_request.merged == true
      && github.event.pull_request.author_association != 'COLLABORATOR'
      && github.event.pull_request.author_association != 'MEMBER'
      && github.event.pull_request.author_association != 'OWNER'
      && endsWith(github.event.pull_request.user.login, '[bot]') == false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Add external contributor to CHANGELOG.md
        uses: ./dev-packages/external-contributor-gh-action
        with:
          name: ${{ github.event.pull_request.user.login }}
          author_association: ${{ github.event.pull_request.author_association }}

      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.GITFLOW_APP_ID }}
          private-key: ${{ secrets.GITFLOW_APP_PRIVATE_KEY }}

      - name: Create PR with changes
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: 'chore: Add external contributor to CHANGELOG.md'
          title: 'chore: Add external contributor to CHANGELOG.md'
          branch: 'external-contributor/patch-${{ github.event.pull_request.user.login }}'
          base: 'develop'
          delete-branch: true
          body:
            'This PR adds the external contributor to the CHANGELOG.md file, so that they are credited for their
            contribution. See #${{ github.event.pull_request.number }}'
