name: Prepare Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
jobs:
  release:
    runs-on: ubuntu-latest
    name: 'Release a new version'
    steps:
     - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_RELEASE_PAT }}
          fetch-depth: 0
     - name: Prepare release
       uses: getsentry/action-prepare-release@2cfce9ae4b4ef7bf34e0b7f32869128e7c903e51
       env:
         GITHUB_TOKEN: ${{ secrets.GH_RELEASE_PAT }}
       with:
         version: ${{ github.event.inputs.version }}
         force: ${{ github.event.inputs.force }}
