name: Prepare Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
jobs:
  release:
    runs-on: ubuntu-latest
    name: 'Release a new version'
    steps:
      - name: Prepare release
        uses: getsentry/action-prepare-release@main
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_RELEASE_PAT }}
          fetch-depth: 0
      - name: Craft Prepare
        run: npx @sentry/craft prepare ${{ env.RELEASE_VERSION }}
      - name: Request publish
        if: success()
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GH_RELEASE_PAT }}
          script: |
            const repoInfo = context.repo;
            await github.issues.create({
              owner: repoInfo.owner,
              repo: 'publish',
              title: `publish: ${repoInfo.repo}@${process.env.RELEASE_VERSION}`,
            });
