---
import Layout from '../../layouts/Layout.astro';

const a = {} as any;
console.log(a.foo.x);
export const prerender = false;
---

<Layout title="SSR Error">
  <h1>Page with SSR error</h1>
</Layout>
